<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Freeseer team member times</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/timezones.css">
  </head>
  <body ng-app="timezones" class="container-fluid">
    <div class="page-header">
      <h1 class="text-center" ng-controller="herp">
        <div class="hero-circle">
          <div class="hero-face">
            <div class="hero-hour" style="transform: rotate({{hr}}deg);"></div>
            <div class="hero-minute" style="transform: rotate({{min}}deg);"></div>
            <div class="hero-second" style="transform: rotate({{sec}}deg);"></div>
          </div>
        </div>
        <small ng-bind="now"></small>
      </h1>
    </div>
    <div class="row-fluid">
      <div class="table-responsive">
        <table ng-controller="timezones"
          id="timezones"
          class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th></th>
              <th ng-repeat="offset in offsets">+{{offset}}hr</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="derp in data | orderBy:'offset'">
              <th class="text-right {{derp.role}}" title="{{derp.timezone}}">{{derp.name}}</th>
              <td
                derp="{{$index}}"
                ng-repeat="time in derp.times"
                class="sleeping"
                ng-class="{awake: time.hour() >= 9 && time.hour() <= 21}"
                >{{time.format('hh:mm a')}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <table class="table table-auto-width table-condensed table-borderless">
      <tr>
        <td class="mentor">&emsp;</td>
        <td>mentor</td>
        <td>&nbsp;</td>
        <td class="awake">&emsp;</td>
        <td>available</td>
        <td>&nbsp;</td>
        <td class="sleeping">&emsp;</td>
        <td>unavailable</td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <script src="js/angular.js"></script>
    <script src="js/moment.js"></script>
    <script
      src="js/moment-timezone-with-data.js"></script>
    <script src="js/timezones.js"></script>
  </body>
</html>
